$blue: rgb(0,80,205);
$lightBlue: rgb(219,243,254);
$superLightBlue : rgb(241,250,255);

:host {
  display: block;
  position: relative;
  background: rgb(245,245,245);
  height: 60px;
  border-bottom: solid 2px $blue;
}

.label {
  position: absolute;
}

input {
  height: 30px;
  border: 0;
  background: transparent;
  outline: none;
  width: calc(100% - 100px);
  margin: 0 0 0 10px;
  overflow: visible;
  letter-spacing: 0.5px;
  position: relative;
  top: -5px;
  color: $blue;
  font-size: 24px;
  transition: all 200ms ease-out;

  &::placeholder {
    transition: all 200ms ease-out;
    position: relative;
    top: 0;
    font-size: 24px;
    color: #999;
    pointer-events: none;
  }

  &:focus {
    top: 5px;
    &::placeholder {
      font-size: 14px;
      top:-30px;
    }
  }
}

label {
  display: none;
  font-size: 14px;
  position: absolute;
  left:12px;
  top: 3px;
  letter-spacing: 0.5px;
  color: #999;

  &.on {
    display: block;
  }
}

.cancel, .search {
  height: 20px;
  margin-top: 25px;
  margin-left: 14px;
  cursor: pointer;
}

.cancel {
  filter: brightness(0.7);
}

.search {
  filter: invert(0.5) sepia(1) saturate(45) hue-rotate(215deg) brightness(0.7);
}


.elements {
  border: solid 1px #999;
  border-radius: 4px;
  background: #FFF;
  margin: 30px 0;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.15);
  overflow: hidden;
}
.element {
  margin: 0;
  padding: 5px 5px 5px 11px;
  height: 30px;
  color: #999;
  display: block;
  font-size: 20px;

  &:hover {
    background: $superLightBlue;
  }

  &.highlight {
    background: $lightBlue;
    font-weight: bold;
    color: #555;
  }
}