<label
    for="searchText"
    [ngClass]="{ 'on': labelVisible }"
>Favorite Character</label>
<input
    type="text"
    id="searchText"
    placeholder="Favorite Character"
    [(ngModel)]="inputValue"
    (keyup)="valueChange()"
    (focus)="setFocus()"
    (focusout)="removeFocus();"
>
<img src="assets/images/mat-close.svg" class="cancel" (click)="cancelClick()">
<img src="assets/images/mat-search.svg" class="search">

<div
    class="elements"
    *ngIf="(elements | async)?.length"
    (mouseleave)="mouseOutResults()"
>
    <span
        *ngFor="let element of elements | async; let i = index"
        (click)="clickElement(element.url)"
        [ngClass]="{
            'element': true,
            'highlight': element.name === selectedPokemonName
        }"
    >{{ element.name }}</span>
</div>
