/* Add application styles & imports to this file! */

@font-face {
    font-family: 'oswald-light';
    src: url('assets/fonts/Oswald-Light.ttf');
}

@font-face {
    font-family: 'oswald-regular';
    src: url('assets/fonts/Oswald-Regular.ttf');
}

* {
    font-family: 'oswald-light', serif;
}