/* Add application styles & imports to this file! */

@font-face {
    font-family: 'oswald-light';
    src: url('assets/fonts/Oswald-Light.ttf');
}

@font-face {
    font-family: 'oswald-regular';
    src: url('assets/fonts/Oswald-Regular.ttf');
}

h1 {
    font-family: 'oswald-light';
    text-align: center;
    font-size: 40px;
}

app-autocomplete {
    max-width: 500px;
    margin: 0 auto;
}